
<h2></h2>
<div class="alert alert-danger" *ngIf="error">
    {{errorMessage}}
</div>
<div class="resume" *ngIf="candidate">
    <address>
        <strong>{{candidate.firstName}} {{candidate.lastName}}</strong><br />
        {{candidate.address.address1 | uppercase}}<br />
        {{candidate.address.city | uppercase}} {{candidate.address.province | uppercase}} {{candidate.address.postCode}}<br />
        <span class="glyphicon glyphicon-earphone"></span> <a href="tel:{{candidate.phone}}">{{candidate.phone}}</a><br />
        <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{candidate.email}}">{{candidate.email}}</a>
    </address>

    <h3><span class="glyphicon glyphicon-education"></span> Education</h3>
    <ul>
        <li *ngFor="let ed of candidate.education">
            <strong>{{ed.institution}}</strong><br />
            {{ed.degree}} {{ed.year}}<br />
        </li>
    </ul>

    <h3><span class="glyphicon glyphicon-wrench"></span> Skills</h3>
    <div>{{candidate.skills}}</div>

    <h3><span class="glyphicon glyphicon-briefcase"></span> Work History</h3>
    <ul>
        <li *ngFor="let history of candidate.workHistory">
            <h4>{{history.name}} {{history.start | date:'longDate'}} - <span *ngIf="history.end != null">{{history.end | date:'longDate'}}</span><span *ngIf="history.end==null">Present</span></h4>
            <ul class="historyDesc">
                <li *ngFor="let desc of history.description | splitString:'~~'">
                    {{desc}}
                </li>
            </ul>
            <h4>Projects</h4>
            <ul class="projects">
                <li *ngFor="let proj of history.projects">
                    <strong>{{proj.name}}</strong>
                    <ul class="projectDesc">
                        <li *ngFor="let desc of proj.description | splitString:'~~'">
                            {{desc}}
                        </li>
                    </ul>
                    <strong>Environment: </strong>{{proj.environment}}<br /><br />
                </li>
            </ul>
        </li>
    </ul>
</div>
